/*     page blue #034f4b     */
/*  MERN
    #3ea041
    #cd7871
    #26618f
    #9cc24b
*/
.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    position: absolute;
    opacity: 50%;
    right: 20%;
}

.bio-pic {
    float: left;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 5px;
    padding: 0px;
    border: 5px solid #26618f;
    shape-outside: circle(50%);
}

.social-bio {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-video {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.col-mern-frame {
    border: 10px solid;
    border-top-color: #3ea041;
    border-right-color: #cd7871;
    border-bottom-color: #26618f;
    border-left-color: #9cc24b;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}

/*.button i {*/
/*    vertical-align: -5px;*/
/*}*/

.button {
    /*background-color: #4CAF50; !* Green *!*/
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 15px 10px 18px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*font-size: 12px;*/
    display: inline-block;
    margin: 0px;
    transition-duration: 0.8s;
    cursor: pointer;
    pointer-events: none;
    /*float: right;*/
}

.button1 {
    background-color: transparent;
    color: #26618f;
}

.button2 {
    background-color: transparent;
    color: #26618f;
    border: none;
}

.button1:hover {
    background-color: transparent;
    border-color: #3ea041;
    color: white;
}

.button:visited, .button:active {
    background-color: transparent;
    color: #26618f;
    border: 2px solid #26618f;
}

.pro-head {
    height: 55px;
}

/*.dropbtn {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 16px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #26618f;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    font-size: 16px;
}

.dropdown-content a {
    color: #26618f;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #cc5252;
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 7px;
}

.info-content {
    display: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #26618f;
    color: #26618f;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    font-size: 16px;
    padding: 0px 10px 0 15px;
    /*pointer-events: none;*/
}

.dropdown:hover .info-content {
    display: block;
    border-radius: 7px;
}

.info-content a:hover {
    color: #cc5252;
}

.services-list__item-content a {
    color: #000;
}

.services-list__item-content a:hover {
    color: #cc5252;
}

/*.dropdown:hover .dropbtn {*/
/*    background-color: #3e8e41;*/
/*}*/
